<form action="">
  <h1>Criando uma nova categoria</h1>
  <mat-form-field class="form">
    <mat-label>Nome:</mat-label>
    <input matInput placeholder="Ex. Comédia" name="nome" type="text" />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição:</mat-label>
    <textarea
      matInput
      placeholder="Ex. Livro de comédia"
      name="descricao"
      type="text"
    ></textarea>
  </mat-form-field>

  
  <div class="buttons">
      <button mat-raised-button color="primary">Salvar</button>
      <button mat-elevation-z8 mat-raised-button color="warn">Cancelar</button>
  </div>
</form>
